<!-- Learning modals and tooltips... in progress -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="./assets/css/style.css"/>

</head>
<body>  
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#creditModal">
        <a class="tooltip-multiline tooltip-top" data-tooltip="A credit card is a type of payment card in which charges are made against a line of credit instead of the account holder’s cash deposits.">Credit card</a>
    </button>
        <!-- Modal -->
        <div class="modal fade" id="creditModal" tabindex="-1" aria-labelledby="creditModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Credit Card</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>With credit cards, you are borrowing money and your account accrues a balance that must be paid off each month. Failure to pay off the credit card on time could result in interest charges and late fees.</p>
                        <ul class="creditList">Important terms:
                            <li>Credit limit: The maximum amount of money you’re allowed to charge.</li>
                            <li>Credit history/record: A written record of a person’s use of credit, including applying for credit, and using credit or loans to make purchases. Provided by a credit bureau to a lender or other business. Establish your credit history by using credit cards and paying your bill on time each month.</li>
                            <li>Minimum payment: The minimum amount the bank requires you to pay back every month. The remainder of your balance accrues interest.</li>
                            <li>Interest: a fee the bank charges you for borrowing their money. If you pay off your credit card balance every month, you avoid this.</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" class='closebtn'>Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>