<div class='modal-body'>
  <!-- Iterate over creditData -->
  {{#each creditHistory as |history|}}
    <div class='history col-md-5'>
      <p>
        {{history.time_charged}}
        {{history.merchant}}
        {{history.amount}}
      </p>
      <hr class='line' />
    </div>
  {{/each}}
</div>