<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Money Smart</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
      integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I="
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://unpkg.com/css-tooltip" />
    <link rel="stylesheet" href="/path/to/css-tooltip.min.css" />
    <link rel="stylesheet" href="css/style.css" />

  </head>

  <body>

    <nav class="top-bar topbar-responsive">
      <div class="top-bar-title">
        <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
        </span>
        <a class="topbar-responsive-logo"><img
            src="assets/images/logo.png"
          />Get Money Smart <a class="tooltip-multiline tooltip-bottom tooltip-bank" data-tooltip="A bank is a financial institution that handles money, including keeping it for saving or commercial purposes, and exchanging, investing, and supplying it for loans.">Bank</a></a>
      </div>
      <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
          <ul class="menu simple vertical medium-horizontal">
            <li><a href="/signup">Create</a></li>
            <li>
              <a href='/login'>
                <button
                  type="button"
                  class="button hollow topbar-responsive-button"
                >Login</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main>
      <!-- Render the sub layout -->
      {{{body}}}
    </main>

  </body>
</html>