<button onclick='creditHistoryHandler()'>NAME</button>

<!-- add to dashboard -->
<button
  type='button'
  class='btn btn-primary'
  data-toggle='modal'
  data-target='#historyModal'
>
  <a
    class='tooltip-multiline tooltip-top'
    data-tooltip='View your prior transactions.'
  >View transaction history</a>
</button>
<!-- Modal -->
<div
  class='modal fade'
  id='historyModal'
  tabindex='-1'
  aria-labelledby='historyModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='historyModalLabel'>Transaction history</h5>
        <button
          type='button'
          class='close'
          data-dismiss='modal'
          aria-label='Close'
        >
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <!-- Iterate over creditData -->
        {{#each creditHistory as |history|}}
          <div class='history col-md-5'>
            <p>
              Date:
              {{format_date_time history.time_charged}}
              <br />
              Merchant:
              {{history.merchant}}
              <br />
              Amount: ${{format_amount history.amount}}
            </p>
            <hr class='line' />
          </div>
        {{/each}}
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-primary clearBtn'
          id='clearBtn'
          onclick='clearURL()'
        >Clear transaction history</button>
        <button
          type='button'
          class='btn btn-secondary'
          data-dismiss='modal'
          class='closebtn'
        >Close</button>

      </div>
    </div>
  </div>
</div>

<script src='../public/js/dashboardBtns.js'></script>
<script
  src='https://code.jquery.com/jquery-3.2.1.slim.min.js'
  integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN'
  crossorigin='anonymous'
></script>
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'
  integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q'
  crossorigin='anonymous'
></script>
<script
  src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'
  integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl'
  crossorigin='anonymous'
></script>
<section class='dashboard-section'>

  <div class='buttons'>
    <button class='button button-rounded-hover' id='transferButton'>Transfer
      Money</button>
    <button class='button button-rounded-hover' id='depositButton'>Deposit Money</button>
  </div>

    <div class='account-section'>

      <div class='account-info-section'>
          <button class="button-hover-account button"><span>Checking</span><i class="fas fa-money-check-alt"></i></button>
          <p class='feature-desc'>Account Number</p>
      </div>

      <div class='account-balance-section'>
          <p class='feature-desc'>Current Balance</p>
      </div>

    </div>

    <div class='account-section'>

      <div class='account-info-section'>
          <button class="button-hover-account button"><span>Savings</span><i class="fas fa-money-check-alt"></i></button>
          <p class='feature-desc'>Account Number</p>
      </div>

      <div class='account-balance-section'>
          
          <p class='feature-desc'>Current Balance</p>
      </div>

    </div>

    <div class='account-section'>

     <div class='account-info-section'>
          <button class="button-hover-account button"><span>Credit Card</span><i class="fas fa-money-check-alt"></i></button>
          <p class='feature-desc'>Account Number</p>
      </div>

      <div class='account-balance-section'>
          <button type="button" class="primary button">
      Charge Card
    </button>
          <p class='feature-desc'>Current Balance</p>
          <button type="button" class="primary button">
      Make Payment
    </button>
      </div>

    </div>

</section
