<section class='dashboard-section'>

  <div class='buttons'>
    <button class='button button-rounded-hover' id='transferButton'>Transfer
      Money</button>
    <button class='button button-rounded-hover' id='depositButton'>Deposit Money</button>
  </div>

    <div class='account-section'>

      <div class='account-info-section'>
          <button class="button-hover-account button"><span>Checking</span><i class="fas fa-money-check-alt"></i></button>
          <p class='feature-desc'>Account Number</p>
      </div>

      <div class='account-balance-section'>
          <p class='feature-desc'>Current Balance</p>
      </div>

    </div>

    <div class='account-section'>

      <div class='account-info-section'>
          <button class="button-hover-account button"><span>Savings</span><i class="fas fa-money-check-alt"></i></button>
          <p class='feature-desc'>Account Number</p>
      </div>

      <div class='account-balance-section'>
          
          <p class='feature-desc'>Current Balance</p>
      </div>

    </div>

    <div class='account-section'>

     <div class='account-info-section'>
          <button class="button-hover-account button"><span>Credit Card</span><i class="fas fa-money-check-alt"></i></button>
          <p class='feature-desc'>Account Number</p>
      </div>

      <div class='account-balance-section'>
          <button type="button" class="primary button">
      Charge Card
    </button>
          <p class='feature-desc'>Current Balance</p>
          <button type="button" class="primary button">
      Make Payment
    </button>
      </div>

    </div>

</section