{{!-- This is a page to demonstrate depositing money --}}
<div class="translucent-form-overlay deposit">
        <form class="deposit-form">
          <h3>Make a Deposit</h3>
          <div class="row columns deposit-from">
            <label>From
                <select name="status depositFrom" type="text" class="depositOptions depositFrom">
                  <option value="personal_check">Personal Check</option>
                  <option value="paycheck">Paycheck</option>
                  <option value="investment_return">Investment Return</option>
                </select>
            </label>
          </div>
          <div class="row columns deposit-to">
            <label>To
              <select name="status depositTo" type="text" class="depositOptions depositTo">
                <option value="checking">Checking (current balance: {{checking.current_balance}})</option>
                <option value="savings">Savings (current balance: {{saving.current_balance}})</option>
              </select>
            </label>
          </div>
          <div class="row columns deposit-amount">
            <label>Amount
                <input type="number" name="depositAmt" class="depositAmt" placeholder="Any">
            </label>
          </div>
          <div class="row columns deposit-comment">
            <label>Comment
                <input type="text" name="depositComment" class="depositComment" placeholder="Any">
            </label>
          </div>
          <div class="row columns deposit-pic">
              <label><a href="#"><i class="fas fa-camera fa-lg"></i></a> Attach a picture of check, if applicable
              </label>
          </div>
          <button type="button" class="primary button expanded search-button depositBtn">
            Deposit
          </button>
          <span id="error"></span>
       </form>
      </div>

      <script src="../public/js/depositFormBtns.js"></script>