<!-- TESTING PURPOSES, DELETE LATER -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Money Smart</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
      integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>

  <div class="translucent-form-overlay transfer">
    <form class="transfer-form">
      <h3>Make a Transfer</h3>
      <div class="row columns transfer-from">
        <label>From
            <select name="status transferFrom" type="text" class="transferOptions transferFrom">
              <option value="checking">Checking (current balance: {{Checking.current_balance}})</option>
              <option value="savings">Savings (current balance: {{Saving.current_balance}})</option>
              <option value="credit-card">Credit Card (current balance: {{Credit.current_balance}})</option>
            </select>
        </label>
      </div>
      <div class="row columns transfer-to">
        <label>To
          <select name="status transferTo" type="text" class="transferOptions transferTo">
            <option value="checking">Checking (current balance: {{Checking.current_balance}})</option>
            <option value="savings">Savings (current balance: {{Saving.current_balance}})</option>
            <option value="credit-card">Credit Card (current balance: {{Credit.current_balance}})</option>
          </select>
        </label>
      </div>
      <div class="row columns transfer-amount">
        <label>Amount
            <input type="number" name="transferAmt" class="transferAmt" placeholder="Any">
        </label>
      </div>
      <div class="row columns transfer-comment">
        <label>Comment
            <input type="text" name="transferComment" class="transferComment" placeholder="Any">
        </label>
      </div>
      <button type="button" class="primary button expanded search-button transferBtn">
        Transfer
      </button>
      <span id="error"></span>
   </form>
  </div>

  <script src="../public/js/transferFormBtns.js"></script>
</body>

</html>