<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Money Smart</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
      integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I="
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://unpkg.com/css-tooltip" />
    <link rel="stylesheet" href="/path/to/css-tooltip.min.css" />
    <link rel="stylesheet" href="../public/css/style.css" />

  </head>

  <body>

    {{!-- This is a page to demonstrate depositing money --}}
    <div class="translucent-form-overlay deposit">
            <form class="deposit-form">
              <h3>Make a Deposit</h3>
              <div class="row columns deposit-from">
                <label>From
                    <select name="status depositFrom" type="text" class="depositOptions depositFrom">
                      <option value="personal_check">Personal Check</option>
                      <option value="paycheck">Paycheck</option>
                      <option value="investment_return">Investment Return</option>
                    </select>
                </label>
              </div>
              <div class="row columns deposit-to">
                <label>To
                  <select name="status depositTo" type="text" class="depositOptions depositTo">
                    <option value="checking">Checking (current balance: {{checking.current_balance}})</option>
                    <option value="savings">Savings (current balance: {{saving.current_balance}})</option>
                  </select>
                </label>
              </div>
              <div class="row columns deposit-amount">
                <label>Amount
                    <input type="number" name="depositAmt" class="depositAmt" placeholder="Any">
                </label>
              </div>
              <div class="row columns deposit-comment">
                <label>Comment
                    <input type="text" name="depositComment" class="depositComment" placeholder="Any">
                </label>
              </div>
              <div class="row columns deposit-pic">
                  <label><a data-target="#checkModal"><a class="tooltip-multiline tooltip-top" data-tooltip="A check is a piece of paper that formally asks the bank to pay someone some money from your account."><i class="fas fa-camera fa-lg"></i></a>Attach a picture of check, if applicable
                  </label>
              </div>
              <button type="button" class="primary button expanded search-button depositBtn">
                Deposit
              </button>
              <span id="error"></span>
           </form>
          </div>
    
          <script src="/js/depositFormBtns.js"></script>
  </body>
</html>