<div class='login-page'>
  <div class="newsletter-subscribe">
    <div class="newsletter-subscribe-inner">
      <p class="subheader">New User?</p>
      <input type="submit" class="button" value="Register">
    </div>
    </div>
    
  <div class="login">
  <form class='log-form'>
    <div class='form-icons'>
      <h4>Login</h4>

      <div class='input-group'>
        <span class='input-group-label'>
          <i class="fas fa-user"></i>
        </span>
        <input class="input-group-field" type="text" placeholder="username" id="username-login">
      </div>

      <div class='input-group'>
        <span class='input-group-label'>
          <i class='fa fa-key'></i>
        </span>
        <input class='input-group-field' type='text' placeholder='Password' id="password-login">
        </div>


        <button class='button expanded login-form'>Login</button>
   </form>
  </div>
</div>
<script type="text/javascript" src="/js/login.js"></script>