<form class="reg-form">
  <div class="reg-form-icons">
    <h4 class="registerh4">Register for an <a class="tooltip-multiline tooltip-bottom" data-tooltip="Bank Account: A banking service allowing a customer’s money to be handled and tracked. Common bank accounts are savings and checking accounts.">account</a></h4>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-user"></i>
      </span>
      <input class="input-group-field" type="text" placeholder="First name" id="firstName-signup">
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-user"></i>
      </span>
      <input class="input-group-field" type="text" placeholder="Last name" id="lastName-signup">
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fas fa-user"></i>
      </span>
      <input class="input-group-field" type="text" placeholder="username" id="username-signup">
    </div>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-key"></i>
      </span>
      <input class="input-group-field" type="text" placeholder="Password" id="password-signup">
    </div>
  </div>

  <button class="button expanded signup-form">Sign Up</button>
</form>
<script type="text/javascript" src="/js/login.js"></script>
