:root {
  --green: #32b558;
  --pink: #b53260;
  --orange: #b55b32;
  --blue: #328cb5;
  font-family: 'Schoolbell', cursive;
}

body {
  background-color: #f0ded6;
}

.topbar-responsive {
  background: var(--orange);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-around;
}

.topbar-responsive .topbar-responsive-logo {
  color: #ffffff;
  vertical-align: middle;
}

.topbar-responsive-logo img {
  margin-right: 20px;
}

.topbar-responsive-logo {
  font-size: 40px;
  font-family: 'Schoolbell', cursive;
}

.topbar-responsive .menu {
  background: var(--orange);
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #ffffff;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: var(--green);
}

footer {
  color: white;
  font-family: 'Schoolbell', cursive;
  font-size: 20px;
  background-color: var(--orange);
  justify-content: space-between;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  list-style: none;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
}

/* ----------- FORM css --------------- */

.transfer,
.deposit,
.charge {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transfer-form,
.deposit-form,
.charge-form {
  font: inherit;
  padding-bottom: 20px;
}

.transfer-form h3,
.deposit-form h3,
.charge-form h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 5px;
}

.transfer-form label,
.deposit-form label,
.charge-form label {
  font-size: 16px;
  line-height: 1.6;
}

.transferOptions,
.transferAmt,
.transferComment,
.depositOptions,
.depositAmt,
.depositComment,
.chargeOptions,
.chargeAmt,
.chargeComment {
  font-size: 15px;
  padding: 3px;
  margin-bottom: 8px;
  width: 100%;
  box-sizing: border-box;
}

.deposit-pic label {
  font-size: 16px;
}

.transferBtn,
.depositBtn,
.chargeBtn {
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 24px;
}

#error {
  text-align: center;
  color: rgb(143, 0, 0);
}

.translucent-form-overlay {
  max-width: 500px;
  width: 100%;
  background-color: var(--orange);
  padding: 20px;
  color: #fefefe;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3,
.translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input,
.translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}


/* --------- Credit transaction history modal --------*/
#historyModal {
  font-family: inherit;
}

/*-------Educational Modals----------*/
.checkPic {
  width: 100%;
  height: auto;
}

#checkModal, #checkingModal, #savingModal, #creditModal{
  font-family: inherit;
  background-color: #e1bdad; 
}

.modalMain{
  background-color: var(--orange);
}

.modalHeader, .modalFooter {
  background-color: var(--orange);
}

/*SET a link colors so they don't change when clicked!!!!!!!!!!!!! */

/*----------Registration Form--------*/
.reg-form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reg-form .form-icons {
  text-align: center;
}

.reg-form .form-icons h4 {
  margin-bottom: 1rem;
}

.reg-form .form-icons .input-group-label {
  background-color: var(--orange);
  border-color: var(--green);
}

.reg-form .form-icons .input-group-field {
  border-color: var(--green);
}

.reg-form .form-icons .fa {
  color: white;
  width: 1rem;
}

/*----------Login Form--------*/

.login-page {
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
}

.log-form {
  margin: 0;
}

.log-form .form-icons {
  text-align: center;
}

.log-form .form-icons h4 {
  margin-bottom: 1rem;
}

.log-form .form-icons .input-group-label {
  background-color: var(--orange);
  border-color: var(--green);
}

.log-form .form-icons .input-group-field {
  border-color: var(--green);
}

.log-form .form-icons .fa {
  color: white;
  width: 1rem;
}

/*--------Tooltips--------*/
.welcome {
  margin-top: 20px;
  margin-bottom: -55px; 
  display: block;
  text-align: center;
  width: 100%;
  border: rgba(0, 0, 0, 0) 2px solid;
}

.welcome h2 {
  background-color: var(--green);
  width: 25%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);  
  font-family: 'Schoolbell', cursive;
  color: white;
  padding: 5px;
  border: 2px solid white;
  font-size: 28px;
}


a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
.tooltip-multiline {
  text-decoration: underline dashed rgba(255, 255, 255, 0.671)
}

/*----------------dashboard----------------------*/
.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.button-rounded-hover {
  border: 0;
  border-radius: 5000px;
  padding: 1rem 2rem;
  position: relative;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.button-rounded-hover:before {
  opacity: 0;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #fefefe;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.button-rounded-hover:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #115b8d;
  content: '';
  border-radius: inherit;
}

.button-rounded-hover:hover,
.button-rounded-hover:focus {
  background-color: #115b8d;
}

.button-rounded-hover:hover:before,
.button-rounded-hover:focus:before {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 0.25;
}

.account-section {
  padding: 1rem;
}

.account-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 66%;
  margin: auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: var(--orange);
  margin-top: 20px;
  margin-bottom: 20px;
}

.account-info-section {
  display: flex;
  justify-content: space-between;
}

#account-number {
  border: 1px solid black;
  padding: 2px;
  background-color: #e1bdad;
}

#balance-number {
  border: 1px solid black;
  padding: 2px;
  background-color: #e1bdad;
}

/*  Transfer/charge/deposit forms */
.closebtn {
  float: right;
}

.transfer, .deposit {
  margin-top: 3.5%;
}

.charge {
  margin-top: 4.5%;
}

@media print, screen and (min-width: 40em) {
.account-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.account-section-feature {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 1rem;
  -webkit-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.account-section-feature.top {
  border-bottom: 1px solid var(--orange);
}
.account-section-feature.bottom {
  border-bottom: 1px solid var(--pink);
}

.account-section-feature .feature-title {
  margin-bottom: 0;
  line-height: 16px;
  font-size: 0.875rem;
}

.account-section-feature .feature-desc {
  margin-bottom: 0;
  text-align: left;
}

.account_number {
  text-align: right;
}

.current_balance {
  text-align: right;
}

.account-section-feature .fa {
  margin-right: 1.25rem;
  font-size: 2rem;
}

@media print, screen and (min-width: 40em) {
  .account-section-feature {
    padding: 2rem;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}


.button-hover-account {
  border: 2px solid var(--green);background-color: #e1bdad;
  color: var(--green);
  background-color: #ebf8ee;
  letter-spacing: 0.07rem;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.button-hover-account span {
  transition: all 0.2s ease-in-out;
}

.button-hover-account .fa {
  position: absolute;
  font-size: 1.2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--pink);
  right: -20px;
  transition: 0.4s right cubic-bezier(0.38, 0.6, 0.48, 1);
}

.button-hover-account:hover {
  border-color: var(--pink);
  background-color: #f8ebef;
  transition: border-color 0.2s;
}

.button-hover-account:hover span {
  margin-right: 20px;
  color: var(--pink);
}

.button-hover-account:hover .fa {
  right: 12px;
}



/* -------------------------------------------------------------------------- */

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: var(--pink);
  border-color: var(--pink);
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
    animation: fadeIn 1s ease-in;
  }
}
