:root {
  --green: #32b558;
}

body {
  /* background-color: #fff7f0; */
  position: relative;
  min-height: 100%;
  padding-bottom: 10rem;
  font-family: Circular, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.topbar-responsive {
  background-image: linear-gradient(#fee9d8, white);
  background: -webkit-linear-gradient(#fee9d8 white);
  background: -moz-linear-gradient(#fee9d8, white);
  background: -ms-linear-gradient(#fee9d8, white);
  background: -o-linear-gradient(#fee9d8, white);
  padding-right: 4rem;
  font-weight: bold;
  height: 100px;
}

.register-button-container {
    display: flex;
    justify-content: center;
  }

.topbar-responsive .topbar-responsive-logo {
  color: #000000;
}

.topbar-responsive-logo img {
  margin-top: 20px;
}

/* .topbar-responsive-logo {
  font-size: 30px;
} */

/* .topbar-responsive .menu {
  background: #fff;
} */

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

/* .topbar-responsive .menu a {
  color: #ffffff;
  transition: color 0.15s ease-in;
} */

.topbar-responsive .menu a:hover {
  color: #8f3124;
  text-decoration: none;
}

footer {
  color: rgb(0, 0, 0);
  font-size: 15px;
  background-image: linear-gradient(white, #fee9d8);
  background: -webkit-linear-gradient(white, #fee9d8);
  background: -moz-linear-gradient(white, #fee9d8);
  background: -ms-linear-gradient(white, #fee9d8);
  background: -o-linear-gradient(white, #fee9d8);
  position: absolute;
  padding: 10px 10px 0px 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  list-style: none;
  padding-left: 40px;
  padding-right: 40px;
}

footer #footer-one {
  text-align: center;
}

footer #footer-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer #footer-two p {
  margin-left: 25px;
  margin-right: 25px;
}

/* ----------- FORM css --------------- */

.transfer,
.deposit,
.charge {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transfer-form,
.deposit-form,
.charge-form {
  font: inherit;
  padding-bottom: 20px;
}

.transfer-form h3,
.deposit-form h3,
.charge-form h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 5px;
}

.transfer-form label,
.deposit-form label,
.charge-form label {
  font-size: 16px;
  line-height: 1.6;
}

.transferOptions,
.transferAmt,
.transferComment,
.depositOptions,
.depositAmt,
.depositComment,
.chargeOptions,
.chargeAmt,
.chargeComment {
  font-size: 15px;
  padding: 3px;
  margin-bottom: 8px;
  width: 100%;
  box-sizing: border-box;
}

.deposit-pic label {
  font-size: 16px;
}

.transferBtn,
.depositBtn,
.chargeBtn {
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 24px;
}

#error {
  text-align: center;
  color: rgb(143, 0, 0);
}

.translucent-form-overlay {
  max-width: 500px;
  width: 100%;
  background-color: #ecdbcd;
  padding: 20px;
  color: black;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3,
.translucent-form-overlay label {
  color: black;
}

.translucent-form-overlay input,
.translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}

/* --------- Credit transaction history modal --------*/
/* #historyModal {
  font-family: inherit;
} */

/*-------Educational Modals----------*/
.checkPic {
  width: 100%;
  height: auto;
}

/* #checkModal,
#checkingModal,
#savingModal,
#creditModal,
#historyModal {
  font-family: inherit;
  background-color: #e1bdad;
} */

.modalMain {
  background-color: #ecdbcd;
}

.modalHeader,
.modalFooter {
  background-color: #cfab88;
}

/*----------Registration Form--------*/
.reg-form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reg-form .form-icons {
  text-align: center;
}

.reg-form .form-icons h4 {
  margin-bottom: 1rem;
}

/* .reg-form .form-icons .input-group-label {
  background-color: #ffb8ad;
  border-color: #b6b9bb;
} */

.input-group-label {
  background-color: #ccaa89;
  border-color: #b6b9bb;
}

/* .reg-form .form-icons .input-group-field {
  border-color: var(--green);
} */

.reg-form .form-icons .fa {
  color: white;
  width: 1rem;
}

/*----------Login Form--------*/

.newsletter-subscribe {
  margin-right: 100px;
  margin-left: 100px;
}

.newsletter-subscribe-inner button {
  display: flex;
  justify-content: center;
}

/* .hero-image {
  display: flex;
  flex-direction: column;
} */

@media screen and (max-width: 1400px) {
  .hero-image {
    width: 500px;
  }
}

@media screen and (max-width: 1200px) {
  .hero-image {
    width: 350px;
  }
}

@media screen and (min-width: 1050px) {
  .login-container {
    display: flex;
    width: 100%;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .login-page {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
  }
}

@media screen and (max-width: 1050px) {
  .hero-image {
    display: none;
  }

  .login-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .login-page {
    display: flex;
    flex-direction: column;
  }
  /* .newsletter-subscribe button {
    display: flex;
    justify-content: center;
  } */
  /* .topbar-responsive-button {
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 5000px;
    transition: color 0.15s ease-in, border-color 0.15s ease-in;
    display: flex;
    justify-content: center;
  } */
  .top-bar, .top-bar ul {
    background-color: transparent;
  }
}

.top-bar, .top-bar ul {
  background-color: transparent;
}

#login {
  background-color: none;
}

.log-form {
  margin: 0;
}

.log-form .form-icons {
  text-align: center;
}

.log-form .form-icons h4 {
  margin-bottom: 1rem;
}

/* .log-form .form-icons .input-group-label {
  background-color: #ffb8ad;
  border-color: #b6b9bb;
} */

.log-form .form-icons .input-group-field {
  border-color: #cfab88;
}

.log-form .form-icons .fa {
  color: rgb(0, 0, 0);
  width: 1rem;
}

/*--------Tooltips--------*/
/* .welcome {
  margin-top: 20px;
  margin-bottom: -55px;
  display: block;
  text-align: center;
  width: 100%;
  border: rgba(0, 0, 0, 0) 2px solid;
} */

/* .welcome h2 {
  background-color: var(--green);
  width: 25%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: white;
  padding: 5px;
  border: 2px solid white;
  font-size: 28px;
} */

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.tooltip-multiline {
  text-decoration: none;
}
.tooltip-multiline:hover {
  color: black;
}
.tooltip-multiline:active {
  color: black;
}
.tooltip-multiline:focus {
  color: black;
}

/*----------------dashboard----------------------*/
.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.buttons p {
  font-weight: bold;
  font-size: 25px;
}

.button {
  background-color: #414040;
  border: 5px solid #cfab88;
}

button:focus,
.button:hover {
  background-color: #595353;
  color: #fefefe;
}

.button-rounded-hover {
  border: 0;
  border-radius: 5000px;
  padding: 1rem 2rem;
  position: relative;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.button-rounded-hover:before {
  opacity: 0;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #433a3e;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.button-rounded-hover:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #cfab88;
  border-radius: inherit;
}

.button-rounded-hover:hover,
.button-rounded-hover:focus {
  background-color: #595353;
}

.button.primary:focus,
.button.primary:hover {
  background-color: #414040;
}

.account-section {
  padding: 1rem;
}

.account-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 75%;
  margin: auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #eddbcd;
  margin-top: 20px;
  margin-bottom: 20px;
}

.account-info-section {
  display: flex;
  justify-content: space-between;
}

#account-number {
  border: 3px solid #cfab88;
  padding: 3px;
  background-color: #fff7f0;
}

#balance-number {
  border: 3px solid #cfab88;
  padding: 3px;
  background-color: #fff7f0;
}

#greeting {
  font-size: 20px;
  color: black;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}

#greeting span {
  background-color: #ecdbcd;
  padding: 10px;
  box-shadow: 3px 3px 20px rgba(154, 148, 148, 0.8);
  /* border: 5px #cfab87 solid; */
}

/*  Transfer/charge/deposit forms */
.closebtn {
  float: right;
}

.transfer,
.deposit {
  margin-top: 3.5%;
}

.charge {
  margin-top: 4.5%;
}

/* ----- Media Queries ----*/

@media print, screen and (min-width: 40em) {
  .account-section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .account-section-feature {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 1rem;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* .account-section-feature.top {
    border-bottom: 1px solid rgb(223, 99, 54);
  }
  .account-section-feature.bottom {
    border-bottom: 1px solid rgb(223, 99, 54);
  } */

  .account-section-feature .feature-title {
    margin-bottom: 0;
    line-height: 16px;
    font-size: 0.875rem;
  }

  .account-section-feature .feature-desc {
    margin-bottom: 0;
    text-align: left;
  }

  .account_number {
    text-align: right;
  }

  .current_balance {
    text-align: right;
  }

  .account-section-feature .fa {
    margin-right: 1.25rem;
    font-size: 2rem;
  }

  .transaction-history a:hover {
    color: white;
    background-color: #414040;
  }

  .transaction-history:focus:after:active {
    background-color: #414040;
  }

  @media print, screen and (min-width: 40em) {
    .account-section-feature {
      padding: 2rem;
      -webkit-flex: 1 0 50%;
      -ms-flex: 1 0 50%;
      flex: 1 0 50%;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }
  .button-hover-account {
    border: 3px solid #cfab88;
    background-color: #eddbcd;
    color: black;
    letter-spacing: 0.07rem;
    transition: all 0.2s ease-in-out;
    position: relative;
  }
  .button-hover-account span {
    transition: all 0.2s ease-in-out;
  }
  .button-hover-account .fa {
    position: absolute;
    font-size: 1.2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -20px;
    transition: 0.4s right cubic-bezier(0.38, 0.6, 0.48, 1);
  }

  .button-hover-account:hover {
    border-color: #cfab88;
    background-color: #fff7f0;
    transition: border-color 0.2s;
    color: black;
  }

  .button-hover-account:hover span {
    margin-right: 20px;
    color: black;
  }

  .button-hover-account:hover .fa {
    right: 12px;
  }

  .button-hover-account:focus {
    background-color: #ecdbcd;
    color: black;
  }

  .topbar-responsive-button a:hover {
    color: white;
  }
  /* -------------------------------------------------------------------------- */

  @media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu a {
      padding: 0.875rem 0;
    }
  }

  .topbar-responsive .menu .topbar-responsive-button {
    /* color: #ffffff; */
    /* border-color: #ffffff; */
    border-radius: 5000px;
    transition: color 0.15s ease-in, border-color 0.15s ease-in;
  }

  .topbar-responsive .menu .topbar-responsive-button:hover {
    color: black;
    text-decoration: underline;
  }

  @media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu .topbar-responsive-button {
      width: 100%;
      margin: 0.875rem 0;
    }
  }

  /* .top-bar,
  .top-bar ul {
    background-color: transparent;
  } */

  @media screen and (max-width: 39.9375em) {
    .topbar-responsive {
      padding: 0.75rem;
    }
    .topbar-responsive .top-bar-title {
      position: relative;
      width: 100%;
    }
    .topbar-responsive .top-bar-title span {
      position: absolute;
      right: 0;
      /* border: 1px solid rgb(223, 99, 54); */
      border-radius: 5px;
      padding: 0.25rem 0.45rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .topbar-responsive .top-bar-title span .menu-icon {
      margin-bottom: 4px;
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  }

  @keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  }

  @media screen and (max-width: 39.9375em) {
    .topbar-responsive-links {
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      width: 100%;
      -webkit-animation: fadeIn 1s ease-in;
      animation: fadeIn 1s ease-in;
    }
  }
}

@media (max-width: 1000px) {
  .welcome {
    display: none;
  }
}

.button.primary,
.button.primary.disabled,
.button.primary.disabled:focus,
.button.primary.disabled:hover,
.button.primary[disabled],
.button.primary[disabled]:focus,
.button.primary[disabled]:hover {
  background-color: #414040;
  color: #fefefe;
  letter-spacing: 2px;
}

.button.primary:hover {
  background-color: #595353;
}

.btn-primary {
  color: #fff;
  background-color: #414040;
  border-color: #414040;
}

.btn-primary:hover {
  color: #fff;
  background-color: #484646;
  text-decoration: none;
}

.btn:active:focus {
  color: #fff;
  background-color: #484646;
  text-decoration: none;
}

/* #logout {
  background-color: transparent;
} */

#logout:hover {
  text-decoration: underline solid black 5px;
  cursor: pointer;
}

/* #login {
  background-color: transparent;
} */

#login:hover {
  text-decoration: underline solid black 5px;
  cursor: pointer;
  color: black !important;
}

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .top-bar-title {
    margin: 0px;
  }
  .topbar-responsive-logo img {
    margin-top: 0px;
    padding-top: 0px;
  }
  .topbar-responsive{
    margin-bottom: 50px;
    padding-right: 2rem;
  }
  #topbar-responsive {
    display: flex;
    justify-content: flex-end;
  }
  #greeting {
    font-size: 15px;
  }
  .button.primary {
    font-size: 12px;
  }
  .button-rounded-hover {
    padding: 1rem 1rem;
    font-size: 10px;
  }
  .button-hover-account {
    font-size: 12px;
  }
  .account-section {
    max-width: 90%;
  }
  #balance-number {
    font-size: 12px;
  }
  #account-number {
    font-size: 12px;
  }
  #footer-one p {
    font-size: 5px;
  }
}